# -*- coding: utf-8 -*-
"""
-------------------------------------------------
    Author: qinLess
    File: base_spider.py
    Time: ${create_time}
-------------------------------------------------
    Change Activity: ${create_time}
-------------------------------------------------
    Desc:
"""

from magical.sync_spider.common.base_spider import BaseSpider


class ${SpiderName}BaseSpider(BaseSpider):
    def __init__(self, spider):
        super().__init__(spider)
