# -*- coding: utf-8 -*-
"""
-------------------------------------------------
    Author: qinLess
    File: ${spider_name}.py
    Time: ${create_time}
-------------------------------------------------
    Change Activity: ${create_time}
-------------------------------------------------
    Desc:
"""
import os
import sys

file_path = os.path.dirname(os.path.dirname(os.path.dirname(os.path.dirname(os.path.abspath(__file__)))))
sys.path.append(file_path)

from magical.sync_spider import SyncSpider, Request, run_spider


class ${SpiderName}Spider(SyncSpider):
    name = '${spider_name}'
    settings_path = '${settings_path}'

    default_custom_setting = {}

    def __init__(self, *args, **kwargs):
        custom_setting = {}
        kwargs.update(dict(custom_setting=custom_setting))
        super().__init__(*args, **kwargs)

    def start_spider(self):
        self.logger.info(f'Hello {self.name}')

        request = Request(url='http://www.baidu.com/')
        response = self.download(request)

        title = response.re.findall('<title>(.*?)</title>')
        self.logger.info(f'title: {title}')


if __name__ == '__main__':
    run_spider(${SpiderName}Spider)
